body{
	margin-bottom: 20px;
}

.blue_eyes .eye-color{
	fill: steelblue;
}

.sad .mouth{
	transform: rotate(180deg) scale(.5);
	transform-origin:340px 390px;
}

@keyframes moveEyes{
	20%{
		transform: translate(-18px, -20px);
	}

	40%{
		transform: translate(0, 0);
	}

	65%{
		transform: translate(18px, -20px);
	}
}

.move-around .inner-eye-group{
	animation: moveEyes 5s infinite;
}

@keyframes leftwhiskers{
	20%{
		transform: rotate(5deg);
	}

	60%{
		transform: rotate(-5deg);;
	}
}
.move-around .left-whiskers{
	animation: leftwhiskers 5s infinite;
	transform-origin:325px 350px;
}

@keyframes rightwhiskers{
	5%{
		transform: rotate(-2deg);
	}

	90%{
		transform: rotate(7deg);
	}
}
.move-around .right-whiskers{
	animation: rightwhiskers 5s infinite;
	transform-origin:325px 350px;
}

@keyframes move{
	2%{
		transform: rotateY(10deg) rotateX(10deg);
	}

	40%{
		transform: rotateY(25deg) rotateX(10deg);
	}
	60%{
		transform: rotateY(-10deg) rotateX(-10deg);
	}

	85%{
		transform: rotateY(-10deg) rotateX(-16deg);
	}
}
.move-around {
	animation: move 5s infinite;
}

.svg-container{
	perspective:1000px;
}